<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">HP Smart Tank 515 @ %h</name>

  <service>
    <type>_ipp._tcp</type>
    <subtype>_universal._sub._ipp._tcp</subtype>
    <port>631</port>
    <txt-record>txtvers=1</txt-record>
    <txt-record>qtotal=1</txt-record>
    <txt-record>rp=printers/HP_Smart_Tank_515</txt-record>
    <txt-record>note=Office</txt-record>
    <txt-record>product=(HP Smart Tank 515)</txt-record>
    <txt-record>ty=HP Smart Tank 515</txt-record>
    <txt-record>adminurl=http://localhost:631/printers/HP_Smart_Tank_515</txt-record>
    <txt-record>pdl=application/octet-stream,application/pdf,image/jpeg,image/png,image/urf</txt-record>
    <txt-record>Color=T</txt-record>
    <txt-record>Duplex=T</txt-record>
    <txt-record>URF=W8,SRGB24,CP1,RS600</txt-record>
    <txt-record>TLS=1.2</txt-record>
  </service>
</service-group>
